@font-face {
    font-family: "montserrat-regular";
    src: url('../_fonts/Montserrat-Regular.ttf');
    font-display: auto;
}
@font-face {
    font-family: "montserrat-bold";
    src: url('../_fonts/Montserrat-Bold.ttf');
    font-display: auto;
}
@font-face {
    font-family: "montserrat-extrabold";
    src: url('../_fonts/Montserrat-ExtraBold.ttf');
    font-display: auto;
}

:root {
    --dark: #194D44;
    --light: #297C6B;
    --medium: #5BC8AF;
    --text-color: #333;
    --faded: #EAEAEA;
    --body-bg: #F5F5F5;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-36: 36px;
    --fs-44: 44px;
    --fs-64: 64px;
    --fw-400: montserrat-regular;
    --fw-700: montserrat-bold;
    --fw-800: montserrat-extrabold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat-regular", sans-serif;
    height: 100%;
    background-color: var(--body-background);
    font-weight: 400;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1184px;
    }
}

header{
    .logo-wrapper{
        img{}
    }
    nav{
        .hamburger{
            .hamburger-btn{
                img{}
            }
        }
        .nav-link-wrapper{
            .nav-links{
                li{
                    a{}
                }  
            }
            .call-consult{
                p{
                    a{}
                }
            }
        }  
    }
    .navbar-mobile-wrapper{
        .X{
            
        }
        .nav-links{
            li{
                a{}
            }
        }
    }
}

main{
    .banner-wrapper{
        .banner-intro{
            h1{
                .first-line{}
                .second-line{}
            }
            .banner-para{}
        }
        .banner-form-wrapper{
            .banner-form{
                p{}
                form{
                    label{}
                    input{}
                    datalist{
                        option{}
                    }
                    button{
                        .form-submit-btn{}
                    }
                }
            }
        }
    }

    .we-understand-wrapper{
        .we-understand-images{
            img{}
        }
        .we-understand-text{
            .about-heading{}
            .we-understand-para-wrapper{
                .we-understand-para{}
            }
        }
    }
            
    .testimonial-wrapper{
        .slider{
            position: relative;
            width: 100%;
            overflow: hidden;
            .slides{
                display: flex;
                transition: transform 0.5s ease;
                .testimonial{
                    .image{
                        img{}
                    }
                    .comment{
                        .comment-title{}
                        .comment-params{}
                        img{}
                    }
                } 
                .slide{
                    min-width: 100%;
                    button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background: rgba(0, 0, 0, 0.5);
                        color: white;
                        border: none;
                        cursor: pointer;
                        padding: 10px;
                        .prev {
                            left: 0;
                        }
                        
                        .next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .we-can-organize-wrapper{
        h2{}
        .organize-para-wrapper{
            .interventions-para{}
                p{}
        }
        .organize-cards-wrapper{
            h3{}
            .on-hover-para{
                p{}
            }
        }                           
    }

    .organize-cards-wrapper{
        h3{}
        .on-hover-para{
            p{}
        }
    }
            
    .video-wrapper{
        .video-text-wrapper{
            h2{}
            .video-bullet-points{
                img{}
                h3{}
                p{}
            }
        }     
        .video-src-wrapper{
            video{}
            img{}
            .play-btn{}
        }
        .footer-logo-img{}
    }
}

footer{
    .copyright{
        p{}
    }
    .footer-links{
        a{}
    }
}

// @media screen and (max-width: 1200px) {
    
// }

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {

}

// @media screen and (max-width: 375px) {

// }