@font-face {
  font-family: "montserrat-regular";
  src: url("../_fonts/Montserrat-Regular.ttf");
  font-display: auto;
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../_fonts/Montserrat-Bold.ttf");
  font-display: auto;
}
@font-face {
  font-family: "montserrat-extrabold";
  src: url("../_fonts/Montserrat-ExtraBold.ttf");
}
:root {
  --dark: #194D44;
  --light: #297C6B;
  --medium: #5BC8AF;
  --text-color: #333;
  --faded: #EAEAEA;
  --body-bg: #F5F5F5;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-24: 24px;
  --fs-28: 28px;
  --fs-36: 36px;
  --fs-44: 44px;
  --fs-64: 64px;
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-regular", sans-serif;
}

body {
  font-family: "Montserrat-regular", sans-serif;
  height: 100%;
  background-color: var(--body-background);
  font-weight: 400;
  color: var(--text-color);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.video-content-wrapper {
  padding-left: 16px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .video-content-wrapper {
    padding: 0 18px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .video-content-wrapper {
    padding: 0 24px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .video-content-wrapper {
    padding: 0 16px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .video-content-wrapper {
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1184px;
  }
  .video-content-wrapper {
    padding-left: 128px;
  }
}
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.grid-template-column {
  grid-template-columns: auto auto auto;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.header-banner-wrapper {
  background-image: url("../_images/banner-section/banner-desktop.png");
  background-repeat: no-repeat;
  position: relative;
}
.header-banner-wrapper header {
  padding-top: 20.5px;
}
.header-banner-wrapper header nav .nav-link-wrapper .nav-links li {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.7019607843);
}
.header-banner-wrapper header nav .nav-link-wrapper .nav-links li a {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-right: 31px;
  line-height: 41px;
}
.header-banner-wrapper header nav .nav-link-wrapper .nav-links li a.active {
  font-weight: var(--fw-700);
  color: #ffffff;
}
.header-banner-wrapper header nav .nav-link-wrapper .nav-links li:hover a {
  font-weight: var(--fw-700);
  color: #ffffff;
}
.header-banner-wrapper header nav .nav-link-wrapper .call-consult {
  margin-left: 46px;
}
.header-banner-wrapper header nav .nav-link-wrapper .call-consult p {
  font-size: var(--fs-14);
  font-weight: var(--fw-700);
  line-height: 41px;
  color: #fff;
}
.header-banner-wrapper header nav .nav-link-wrapper .call-consult p a {
  color: var(--medium);
}
.header-banner-wrapper .banner-wrapper {
  padding-top: 66px;
  padding-bottom: 74px;
}
.header-banner-wrapper .banner-wrapper .banner-intro {
  width: 50%;
}
.header-banner-wrapper .banner-wrapper .banner-intro h1 {
  font-size: var(--fs-64);
  font-weight: var(--fw-700);
  line-height: 72px;
  margin-bottom: 12px;
  color: #fff;
}
.header-banner-wrapper .banner-wrapper .banner-intro h1 .first-line {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.header-banner-wrapper .banner-wrapper .banner-intro h1 .second-line {
  display: block;
}
.header-banner-wrapper .banner-wrapper .banner-intro .banner-para {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 24px;
  color: #fff;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper {
  width: 472px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form {
  padding: 51px 28px 56px;
  background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 12px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form p {
  font-size: var(--fs-28);
  font-weight: var(--fw-700);
  line-height: 34px;
  margin-bottom: 34px;
  color: #fff;
  text-align: center;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .form-group {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .relative {
  width: 100%;
  margin-bottom: 16px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .country-input {
  width: 100%;
  margin-bottom: 0;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .country-input input, .header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .country-input select {
  width: 416px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .country-input select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  font-size: var(--fs-16);
  line-height: 19.5px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .country-input select option {
  background-color: var(--light);
  color: #fff;
  margin: 5px 5px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .country-input select option:checked {
  background-color: var(--medium);
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form .country-input .dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 22px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form label {
  font-size: var(--fs-16);
  color: rgba(255, 255, 255, 0.6980392157);
  line-height: 19.5px;
  position: absolute;
  top: 14px;
  left: 16px;
  transition: all 0.3s ease-in-out;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form label:active {
  color: #FFFFFF;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form label.focused {
  font-size: var(--fs-13);
  line-height: 13px;
  padding: 0 5px;
  background: var(--light);
  top: -6px;
  left: 12px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form input, .header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form select {
  padding: 14px 16px 14px 16px;
  width: 166px;
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  color: rgba(255, 255, 255, 0.6980392157);
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.0392156863);
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form input:focus-within, .header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form select:focus-within {
  background: transparent;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form input:focus-visible, .header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form select:focus-visible {
  outline: none;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form input.invalidddddddddd, .header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form select.invalidddddddddd {
  border: 1px solid red;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form select {
  padding-left: 12px;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form button {
  background: var(--medium);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 4px;
  width: 221px;
  height: 56px;
  margin-top: 41px;
  font-size: var(--fs-18px);
  font-weight: var(--fw-700);
  line-height: 22px;
  border: none;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form button:hover {
  background: #35BB9C;
  cursor: pointer;
}
.header-banner-wrapper .banner-wrapper .banner-form-wrapper .banner-form form button .form-submit-btn {
  width: 24px;
  height: 24px;
  margin-right: 1px;
}
.header-banner-wrapper .banner-wrapper .banner-overlay {
  position: absolute;
  bottom: -6px;
}
.header-banner-wrapper .banner-wrapper .banner-overlay img {
  width: 100%;
}
.header-banner-wrapper .banner-wrapper .banner-overlay-secondary {
  position: absolute;
  bottom: -6px;
}
.header-banner-wrapper .banner-wrapper .banner-overlay-secondary img {
  width: 100%;
}
.header-banner-wrapper .banner-wrapper .banner-overlay-tab {
  display: none;
}

main .we-understand-wrapper {
  padding-bottom: 130px;
  padding-top: 80px;
  background: var(--body-bg);
}
main .we-understand-wrapper .we-understand-images img {
  width: calc(33.3333333333% - 23px);
  max-width: 371px;
  height: auto;
}
main .we-understand-wrapper .we-understand-text .about-heading {
  font-size: var(--fs-36);
  font-weight: var(--fw-700);
  line-height: 46px;
  margin-top: 64px;
  margin-bottom: 32px;
}
main .we-understand-wrapper .we-understand-text .we-understand-para-wrapper .we-understand-para {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 24px;
  width: 371px;
}
main .we-understand-wrapper .we-understand-text .we-understand-para-wrapper .we-understand-para .success-rate-btn {
  margin-top: 10px;
  font-size: var(--fs-18);
  font-weight: var(--fw-700);
  line-height: 28px;
  border-radius: 4px;
  width: 100%;
  height: 52px;
  color: var(--medium);
  border: 2px solid var(--medium);
  background: transparent;
}
main .we-understand-wrapper .we-understand-text .we-understand-para-wrapper .we-understand-para .success-rate-btn:hover {
  cursor: pointer;
}
main .we-understand-wrapper .we-understand-text .we-understand-para-wrapper .we-understand-para .desktop-hide {
  display: none;
}
main .testimonial-wrapper {
  margin-top: -30px;
}
main .testimonial-wrapper .slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
main .testimonial-wrapper .slider .slides {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
}
main .testimonial-wrapper .slider .slides .testimonial .image img {
  margin-right: 36px;
  border-radius: 8px 0 0 8px;
}
main .testimonial-wrapper .slider .slides .testimonial .comment {
  background: var(--dark);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 0 8px 8px 0;
  padding: 62px 65px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
main .testimonial-wrapper .slider .slides .testimonial .comment .comment-title {
  font-size: var(--fs-24);
  font-weight: var(--fw-700);
  line-height: 34px;
  margin-bottom: 16px;
  color: #fff;
}
main .testimonial-wrapper .slider .slides .testimonial .comment .comment-params {
  font-size: var(--fs-18);
  font-weight: var(--fw-400);
  line-height: 28px;
  font-style: italic;
  color: #fff;
  width: 545px;
}
main .testimonial-wrapper .slider .slides .testimonial .comment img {
  position: absolute;
  top: 38px;
  right: 65px;
}
main .testimonial-wrapper .slider .slides .slide {
  min-width: 100%;
}
main .testimonial-wrapper .slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  z-index: 1;
}
main .testimonial-wrapper .slider button img {
  width: 48px;
  height: 48px;
}
main .testimonial-wrapper .slider button.prev {
  left: 0;
}
main .testimonial-wrapper .slider button.prev:hover .svg-icon {
  background-image: url("../_images/svg/hovered-arrow-btn.svg");
}
main .testimonial-wrapper .slider button.prev .svg-icon {
  background-image: url("../_images/svg/left-arrow.svg");
  background-size: cover;
  display: inline-block;
  width: 48px;
  height: 48px;
}
main .testimonial-wrapper .slider button.next {
  right: 0;
}
main .testimonial-wrapper .slider button.next:hover .svg-icon {
  background-image: url("../_images/svg/hovered-arrow-btn.svg");
  transform: rotate(180deg);
}
main .testimonial-wrapper .slider button.next .svg-icon {
  background-image: url("../_images/svg/right-arrow.svg");
  background-size: cover;
  display: inline-block;
  width: 48px;
  height: 48px;
}
main .testimonial-wrapper .counter {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
main .testimonial-wrapper .counter .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--faded);
  margin: 0 36px;
  cursor: pointer;
}
main .testimonial-wrapper .counter .dot.active {
  background-color: var(--medium);
}
main .we-can-organize-wrapper {
  padding-bottom: 100px;
  padding-top: 100px;
}
main .we-can-organize-wrapper h2 {
  font-size: var(--fs-36);
  font-weight: var(--fw-700);
  line-height: 46px;
  margin-bottom: 32px;
}
main .we-can-organize-wrapper .organize-para-wrapper {
  margin-bottom: 36px;
}
main .we-can-organize-wrapper .organize-para-wrapper .organize-para {
  width: 33.3333333333%;
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 24px;
}
main .we-can-organize-wrapper .organize-para-wrapper .organize-para:first-child, main .we-can-organize-wrapper .organize-para-wrapper .organize-para:nth-child(2) {
  margin-right: 20px;
}
main .we-can-organize-wrapper .organize-para-wrapper .organize-para .interventions-para {
  font-size: var(--fs-18);
  font-weight: var(--fw-400);
  line-height: 28px;
  font-style: italic;
}
main .we-can-organize-wrapper .organize-para-wrapper .organize-para .interventions-para span {
  font-weight: 800;
}
main .we-can-organize-wrapper .organize-cards-wrapper .info-card-router {
  width: 371px;
  border: 2px solid #5BC8AF;
  position: relative;
  height: 92px;
  cursor: pointer;
}
main .we-can-organize-wrapper .organize-cards-wrapper .info-card-router:hover h3 {
  color: var(--medium);
}
main .we-can-organize-wrapper .organize-cards-wrapper h3 {
  font-size: var(--fs-18);
  font-weight: var(--fw-700);
  line-height: 28px;
  text-align: center;
}
main .we-can-organize-wrapper .organize-cards-wrapper .info-cards {
  border-radius: 4px;
}
main .we-can-organize-wrapper .organize-cards-wrapper .info-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
main .we-can-organize-wrapper .organize-cards-wrapper img {
  margin-left: 5px;
}
main .organize-cards-wrapper {
  gap: 32px;
}
main .organize-cards-wrapper .on-hover-para {
  position: absolute;
  bottom: -95px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 268px;
  padding: 12px 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0784313725);
  background: var(--light);
  border-radius: 8px;
  z-index: 1;
}
main .organize-cards-wrapper .on-hover-para p {
  font-size: var(--fs-13);
  font-weight: var(--fw-400);
  line-height: 20px;
  color: #fff;
}
main .organize-cards-wrapper .on-hover-para img {
  position: absolute;
  top: -8px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
main .video-wrapper .video-content {
  color: #fff;
  padding: 94px 0 93px 0;
}
main .video-wrapper .video-content h2 {
  font-size: var(--fs-44);
  font-weight: var(--fw-700);
  line-height: 52px;
  margin-bottom: 48px;
}
main .video-wrapper .video-content .video-bullet-points {
  position: relative;
  margin-bottom: 22px;
  padding-left: 30px;
}
main .video-wrapper .video-content .video-bullet-points h3 {
  font-size: var(--fs-24);
  font-weight: var(--fw-700);
  line-height: 32px;
  margin-bottom: 8px;
}
main .video-wrapper .video-content .video-bullet-points img {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 1;
}
main .video-wrapper .video-content .video-bullet-points p {
  font-size: var(--fs-18);
  font-weight: var(--fw-400);
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
main .video-wrapper .video-content .video-bullet-points:last-child {
  margin-bottom: 0;
}
main .video-wrapper.video-bg-img {
  background-image: url("../_images/video-section/video-desktop.png"), url("../_images/video-section/video-overlay-desktop.png");
  background-repeat: no-repeat;
}
main .video-wrapper .video-src-wrapper {
  position: relative;
  z-index: -1;
}
main .video-wrapper .video-src-wrapper .play-btn {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 208px;
  height: 208px;
  transition: all 0.3s ease-in-out;
}
main .video-wrapper .video-src-wrapper .play-btn .outer-ellipse {
  width: 208px;
  height: 208px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
main .video-wrapper .video-src-wrapper .play-btn .inner-ellipse {
  width: 120.5px;
  height: 120.5px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
main .video-wrapper .video-src-wrapper .play-btn .play {
  width: 30.5px;
  height: 34.5px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
main .video-wrapper .video-src-wrapper .play-btn:hover {
  width: 228px;
  height: 228px;
}
main .video-wrapper .video-src-wrapper .play-btn:hover .outer-ellipse {
  width: 228px;
  height: 228px;
}
main .video-wrapper .video-src-wrapper .play-btn:hover .inner-ellipse {
  width: 154.5px;
  height: 154.5px;
}
main .video-wrapper .video-src-wrapper .play-btn:hover .play {
  width: 39px;
  height: 44px;
}
main .video-wrapper .video-src-wrapper .video-src {
  max-height: 100%;
  width: auto;
}
main .video-wrapper .footer-logo-img {
  position: absolute;
  bottom: 35px;
  right: 35px;
}

footer {
  padding: 38px 0;
  background: var(--faded);
}
footer .copyright p {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 24px;
  color: #757575;
}
footer .footer-links a {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 24px;
  color: #757575;
  text-decoration: none;
}
footer .footer-links a:hover {
  font-weight: var(--fw-700);
}

@media screen and (max-width: 992px) {
  .header-banner-wrapper header .container {
    align-items: flex-start;
  }
  .header-banner-wrapper header .logo-wrapper img {
    height: 35px;
  }
  .header-banner-wrapper header nav .nav-link-wrapper {
    flex-direction: column;
    align-items: flex-end;
  }
  .header-banner-wrapper header nav .nav-link-wrapper .nav-links li a {
    line-height: 36px;
  }
  .header-banner-wrapper header nav .nav-link-wrapper .nav-links li:last-child {
    display: none;
  }
  .header-banner-wrapper header nav .nav-link-wrapper .nav-links li:nth-child(3) a {
    margin-right: 0;
  }
  .header-banner-wrapper .banner-wrapper {
    padding-top: 56px;
    padding-bottom: 184px;
    background-image: url(../_images/banner-section/banner-tab.png);
  }
  .header-banner-wrapper .banner-wrapper .container {
    flex-direction: column;
    align-items: center;
  }
  .header-banner-wrapper .banner-wrapper .banner-intro {
    width: 100%;
  }
  .header-banner-wrapper .banner-wrapper .banner-intro h1 {
    text-align: center;
    margin-bottom: 16px;
  }
  .header-banner-wrapper .banner-wrapper .banner-intro .banner-para {
    text-align: center;
    font-size: var(--fs-18);
    line-height: 28px;
    width: 574px;
    margin: 0 auto;
  }
  .header-banner-wrapper .banner-wrapper .banner-overlay, .header-banner-wrapper .banner-wrapper .banner-overlay-secondary {
    display: none;
  }
  .header-banner-wrapper .banner-wrapper .banner-overlay-tab {
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
  }
  main .we-understand-wrapper {
    padding-bottom: 130px;
    padding-top: 24px;
  }
  main .we-understand-wrapper .we-understand-text .we-understand-para-wrapper .we-understand-para {
    width: 348px;
  }
  main .we-understand-wrapper .we-understand-text .we-understand-para-wrapper .we-understand-para:nth-child(2) {
    display: none;
  }
  main .we-understand-wrapper .we-understand-text .we-understand-para-wrapper .we-understand-para .success-rate-btn {
    margin-top: 34px;
  }
  main .we-understand-wrapper .we-understand-text .we-understand-para-wrapper .we-understand-para .desktop-hide {
    display: block;
  }
  main .testimonial-wrapper {
    margin-top: -20px;
  }
  main .testimonial-wrapper .slider .slides .testimonial .image img {
    height: 198px;
    width: 198px;
    margin-right: 26px;
  }
  main .testimonial-wrapper .slider .slides .testimonial .comment {
    padding: 33px 36px 33px 37px;
  }
  main .testimonial-wrapper .slider .slides .testimonial .comment img {
    width: 40px;
    height: 31px;
    top: 19px;
    right: 36px;
  }
  main .testimonial-wrapper .slider .slides .testimonial .comment .comment-params {
    font-size: var(--fs-14);
    line-height: 24px;
    width: 423px;
  }
  main .testimonial-wrapper .slider .slides .testimonial .comment .comment-title {
    font-size: var(--fs-18);
    line-height: 28px;
    margin-bottom: 8px;
  }
  main .we-can-organize-wrapper .organize-para-wrapper .organize-para {
    width: 50%;
  }
  main .we-can-organize-wrapper .organize-para-wrapper .organize-para:first-child {
    display: none;
  }
  main .we-can-organize-wrapper .organize-para-mobile {
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
    line-height: 24px;
  }
  main .we-can-organize-wrapper .organize-para-mobile .interventions-para {
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    line-height: 28px;
    font-style: italic;
    margin-bottom: 32px;
  }
  main .we-can-organize-wrapper .organize-para-mobile .interventions-para span {
    font-weight: 800;
  }
  main .we-can-organize-wrapper .organize-cards-wrapper {
    grid-template-columns: auto auto;
    gap: 24px;
  }
  main .we-can-organize-wrapper .organize-cards-wrapper .info-card-router {
    width: 348px;
  }
  main .video-wrapper .video-container {
    flex-direction: column;
  }
  main .video-wrapper .video-container .video-content {
    padding: 102px 0 0;
  }
  main .video-wrapper .video-container .video-content h2 {
    text-align: center;
    margin-bottom: 64px;
  }
  main .video-wrapper .video-container .video-content .video-bullet-points {
    margin-bottom: 24px;
    padding-left: 84px;
  }
  main .video-wrapper .video-container .video-content .video-bullet-points img {
    left: 48px;
  }
  main .video-wrapper.video-bg-img {
    background-image: url("../_images/video-section/video-tab.png"), url("../_images/video-section/video-overlay-tab.png");
  }
  main .video-wrapper .footer-logo-img {
    bottom: 24px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
  main .video-wrapper .video-src-wrapper {
    width: 100%;
  }
  main .video-wrapper .video-src-wrapper .video-src {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .video-wrapper .video-src-wrapper .play-btn {
    width: 200px;
    height: 200px;
    top: 11%;
  }
  main .video-wrapper .video-src-wrapper .play-btn .outer-ellipse {
    width: 200px;
    height: 200px;
  }
  main .video-wrapper .video-src-wrapper .play-btn .inner-ellipse {
    width: 154.5px;
    height: 154.5px;
  }
  main .video-wrapper .video-src-wrapper .play-btn .play {
    width: 49.5px;
    height: 43.5px;
  }
  main .video-wrapper .video-src-wrapper .play-btn:hover {
    width: 220px;
    height: 220px;
  }
  main .video-wrapper .video-src-wrapper .play-btn:hover .outer-ellipse {
    width: 228px;
    height: 228px;
  }
  main .video-wrapper .video-src-wrapper .play-btn:hover .inner-ellipse {
    width: 194.5px;
    height: 194.5px;
  }
  main .video-wrapper .video-src-wrapper .play-btn:hover .play {
    width: 59px;
    height: 54px;
  }
  footer {
    padding: 36px 0;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=index.css.map */