@font-face {
    font-family: "montserrat-regular";
    src: url('../_fonts/Montserrat-Regular.ttf');
    font-display: auto;
}
@font-face {
    font-family: "montserrat-bold";
    src: url('../_fonts/Montserrat-Bold.ttf');
    font-display: auto;
}
@font-face {
    font-family: "montserrat-extrabold";
    src: url('../_fonts/Montserrat-ExtraBold.ttf');
}

:root {
    --dark: #194D44;
    --light: #297C6B;
    --medium: #5BC8AF;
    --text-color: #333;
    --faded: #EAEAEA;
    --body-bg: #F5F5F5;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-36: 36px;
    --fs-44: 44px;
    --fs-64: 64px;
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat-regular", sans-serif;
    height: 100%;
    background-color: var(--body-background);
    font-weight: 400;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.video-content-wrapper{
    padding-left: 16px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .video-content-wrapper{
        padding-left: 18px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .video-content-wrapper{
        padding-left: 24px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .d-lg-none{
        display: none;
    }
    .d-lg-block{
        display: block;
    }
    .video-content-wrapper{
        padding-left: 16px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .video-content-wrapper{
        padding-left: 30px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1184px;
    }
    .video-content-wrapper{
        padding-left: 128px;
    }
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.grid-template-column{
    grid-template-columns: auto auto auto;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;   
}

.relative{
    position: relative;
}

header{
    padding-top: 21px;
    .logo-wrapper{
        img{}
    }
    nav{
        .hamburger{
            .hamburger-btn{
                img{}
            }
        }
        .nav-link-wrapper{
            .nav-links{
                li{
                    list-style-type: none;
                    a{
                        font-size: var(--fs-14);
                        font-weight: var(--fw-400);
                        text-decoration: none;
                        color: var(--text-color);
                        margin-right: 31px;
                        line-height: 41px;
                        &.active{
                            font-weight: var(--fw-700);
                        }
                    }
                }  
            }
            .call-consult{
                margin-left: 46px;
                p{
                    font-size: var(--fs-14);
                    font-weight: var(--fw-700);
                    line-height: 41px;
                    a{
                        color: var(--medium);
                    }
                }
            }
        }  
    }
    .navbar-mobile-wrapper{
        .X{
            
        }
        .nav-links{
            li{
                a{}
            }
        }
    }
}

main{
    .banner-wrapper{
        background: var(--body-bg);
        .banner-intro{
            width: 50%;
            h1{
                font-size: var(--fs-64);
                font-weight: var(--fw-700);
                line-height: 72px;
                margin-bottom: 12px;
                .first-line{
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #fff;
                }
                .second-line{
                    display: block;
                }
            }
            .banner-para{
                font-size: var(--fs-14);
                font-weight: var(--fw-400);
                line-height: 24px;
            }
        }
        .banner-form-wrapper{
            padding: 109px;
            width: 50%;
            .banner-form{
                padding: 51px 28px 56px;
                background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
                box-shadow: 0px 10px 50px 0px #0000001F;
                border-radius: 12px;
                p{
                    font-size: var(--fs-28);
                    font-weight: var(--fw-700);
                    line-height: 34px;
                    margin-bottom: 34px;
                    color: #fff;
                    text-align: center;
                }
                form{
                    .form-group{
                        display: grid;
                        grid-template-columns: auto auto;
                        column-gap: 16px;
                    }
                    .relative{
                        width: 100%;
                        margin-bottom: 16px;
                    }
                    .country-input{
                        width:100%;
                        margin-bottom: 0;
                    }
                    label{
                        font-size: var(--fs-16);
                        color: #FFFFFFB2;
                        line-height: 19.5px;
                        position: absolute;
                        top: 16px;
                        left: 16px;
                        &.active{
                            color: #FFFFFF; 
                        }
                    }
                    input{
                        height: 46px;
                        width: 100%;
                        border: 1px solid #FFFFFF80;
                        color: #FFFFFFB2;
                        border-radius: 2px;
                        background: #FFFFFF0A;
                        &.active{
                            background: transparent;
                        }
                    }
                    datalist{
                        option{}
                    }
                    button{
                        background: #5BC8AF;
                        box-shadow: 0px 4px 6px 0px #00000014;
                        border-radius: 4px;
                        width: 221px;
                        height: 56px;
                        margin-top: 41px;
                        font-size: var(--fs-18px);
                        font-weight: var(--fw-700);
                        line-height: 22px;
                        border: none;
                        color: #fff;
                        margin-left: auto;
                        margin-right: auto;
                        .form-submit-btn{
                            width: 24px;
                            height: 24px;
                            margin-right: 1px;
                        }
                    }
                }
            }
        }
    }

    .we-understand-wrapper{
        padding-bottom: 140px;
        padding-top: 80px;
        background: var(--body-bg);
        .we-understand-images{
            img{
                width: calc(100%/3);
                &:first-child, &:nth-child(2){
                    margin-right: 20px
                }
            }
        }
        .we-understand-text{
            .about-heading{
                font-size: var(--fs-36);
                font-weight: var(--fw-700);
                line-height: 46px;
                margin-top: 64px;
                margin-bottom: 32px;
            }
            .we-understand-para-wrapper{
                .we-understand-para{
                    font-size: var(--fs-14);
                    font-weight: var(--fw-400);
                    line-height: 24px;
                    width: calc(100%/3);
                    &:first-child, &:nth-child(2){
                        margin-right: 20px
                    }
                    .success-rate-btn{
                        margin-top: 10px;
                        font-size: var(--fs-18);
                        font-weight: var(--fw-700);
                        line-height: 28px;
                        border-radius: 4px;
                        width: 100%;
                        height: 52px;
                        color: var(--medium);
                        border: 2px solid var(--medium);
                        background: transparent;
                    }
                }
            }
        }
    }
            
    .testimonial-wrapper{
        .slider{
            position: relative;
            width: 100%;
            overflow: hidden;
            .slides{
                display: flex;
                transition: transform 0.5s ease;
                .testimonial{
                    .image{
                        img{
                            margin-right: 36px;
                            border-radius: 8px 0 0 8px ;
                        }
                    }
                    .comment{
                        background: var(--dark);
                        box-shadow: 0px 10px 30px 0px #0000001F;
                        border-radius: 0 8px 8px 0;
                        padding: 62px 65px 45px;
                        position: relative;
                        .comment-title{
                            font-size: var(--fs-24);
                            font-weight: var(--fw-700);
                            line-height: 34px;
                            margin-bottom: 16px;
                            color: #fff;
                        }
                        .comment-params{
                            font-size: var(--fs-18);
                            font-weight: var(--fw-400);
                            line-height: 28px;
                            font-style: italic;
                            color: #fff;
                        }
                        img{
                            position: absolute;
                            top: 38px;
                            right: 65px;
                        }
                    }
                } 
                .slide{
                    min-width: 100%;
                }
            }
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: transparent;
                color: white;
                border: none;
                cursor: pointer;
                width: 48px;
                height: 48px;
                z-index: 1;
                img{
                    width: 48px;
                    height: 48px;
                }
                &.prev {
                    left: 0;
                }
                &.next {
                    right: 0;
                }
            }
        }
    }

    .we-can-organize-wrapper{
        padding-bottom: 100px;
        padding-top: 100px;
        h2{
            font-size: var(--fs-36);
            font-weight: var(--fw-700);
            line-height: 46px;
            margin-bottom: 32px;
        }
        .organize-para-wrapper{
            margin-bottom: 36px;
            .organize-para{
                width: calc(100%/3);
                font-size: var(--fs-14);
                font-weight: var(--fw-400);
                line-height: 24px;
                &:first-child, &:nth-child(2){
                    margin-right: 20px
                }
                .interventions-para{
                    font-size: var(--fs-18);
                    font-weight: var(--fw-400);
                    line-height: 28px;
                    font-style: italic;
                    span{
                        font-weight: 800;
                    }
                }
            }
        }
        .organize-cards-wrapper{
            .info-card-router{
                width: 100%;
                border: 2px solid #5BC8AF;
            }
            h3{
                font-size: var(--fs-18);
                font-weight: var(--fw-700);
                line-height: 28px; 
                width: 300px;
                text-align: center;
            }
            .info-cards{
                height: 92px;
                display: flex;
                align-items: center;
                justify-content: center;
                // width: 100%;
                border-radius: 4px;
            }
            .on-hover-para{
                p{}
            }
        }                           
    }

    .organize-cards-wrapper{
        gap: 32px;
        h3{}
        .on-hover-para{
            p{}
        }
    }
            
    .video-wrapper{
        .video-content-wrapper{
            width: 50%;
        }
        .video-content{
            color: #fff;
            margin: 94px 0 93px 0;
            h2{
                font-size: var(--fs-44);
                font-weight: var(--fw-700);
                line-height: 52px;
                margin-bottom: 48px;
            }
            .video-bullet-points{
                position: relative;
                h3{
                    font-size: var(--fs-24);
                    font-weight: var(--fw-700);
                    line-height: 32px;
                    margin-bottom: 8px;
                }
                img{
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    z-index: 1;
                }
                p{
                    font-size: var(--fs-18);
                    font-weight: var(--fw-400);
                    line-height: 28px;
                }
                margin-bottom: 22px;
                padding-left: 30px;
                width: 430px;
            }
        }
        &.video-bg-img{
            background-image: url("../_images/video-section/video-desktop.png"), url("../_images/video-section/video-overlay-desktop.png");
            background-repeat: no-repeat;
        }
        .video-src-wrapper{
            position: relative;
            z-index: -1;
            video{}
            img{}
            .play-btn{}
        }
        .footer-logo-img{
            position: absolute;
            bottom: 35px;
            right: 35px;
        }
    }
}

footer{
    padding: 38px 0;
    background: var(--faded);
    .copyright{
        p{
            font-size: var(--fs-14);
            font-weight: var(--fw-400);
            line-height: 24px;
            color: #757575;
            ;
        }
    }
    .footer-links{
        a{
            font-size: var(--fs-14);
            font-weight: var(--fw-400);
            line-height: 24px;
            color: #757575;
            text-decoration: none;
        }
    }
}

// @media screen and (max-width: 1200px) {
    
// }

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {

}

// @media screen and (max-width: 375px) {

// }